.experience {
    margin-top: 200px;
    padding-inline: 50px;

    .section-title {
        font-size: 0.83rem;
        letter-spacing: 3px;
        font-weight: 500;
        opacity: 0.5;
    }

    .section-subtitle {
        font-size: 2rem;
        font-weight: 500;
    }

    .experience-container {
        padding-inline: 24px;
        margin-bottom: 100px;

        .experience-wrapper {
            border-left: 3px solid #ff325e;

            .experience-item {
                display: flex;
                gap: 20px;
                padding-inline: 16px;

                margin-top: 40px;

                .experience-date {
                    min-width: 120px;
                }

                .experience-date-responsive {
                    display: none;
                }

                .experience-content-title {
                    font-size: 20pt;
                    font-weight: 500;
                    margin: -10px 0px 5px 0px;
                    color: #7045cb;
                }

                .experience-content-subtitle {
                    font-size: 14pt;
                    opacity: 0.7;
                    margin-bottom: 17px;
                }
            }

            .experience-item:before {
                content: "";
                position: absolute;

                left: 168px;
                height: 15px;
                width: 15px;
                border-radius: 100px;
                background: #7c182e;
                border: 3px solid #ff325e;
            }
        }
    }
}


@media screen and (max-width: 860px) {
    .experience-container {
        .experience-item:before {
            left: 118px !important;
        }
    }
}


@media screen and (max-width: 768px) {
    .experience-container {
        padding-inline: 0px !important;
        margin-inline: -40px;

        .experience-date-responsive {
            display: flex !important;
        }

        .experience-date {
            display: none;
        }

        .experience-item:before {
            left: 54px !important;
        }
    }

}

@media screen and (max-width: 423px) {
    .experience-container {
        .experience-item:before {
            left: 16px !important;
        }
    }
}