nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;

    svg:nth-child(1){
        background: linear-gradient(to right, #382464, #524179);
        padding: 8px 12px;
        border-radius: 24px;
    }

    .menu{
        padding: 2px 4px;
        background: linear-gradient(to right, #382464, #524179);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 24px;
    }  
}

