.navbar-wrapper {
    padding-inline: 24px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 24px auto;
    padding: .6rem 1rem;
    max-width: 720px;
    border-radius: 32px;

    background-color: #f5f5f5;
    color: #000;
    font-family: sans-serif;

    .logo {
        svg {
            width: 24px;
            height: 24px;
        }

        font-size: 35px;
        font-weight: 900;
        text-shadow: -6px 10px 0 #910A67,
        0px 0px 0 #910A67,
        0px 0px 0 #910A67,
        0px 0px 0 #910A67;
    }

    > * {
        cursor: pointer;
    }
}